@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Regular.ttf");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Bold.ttf");
    font-weight: 700;
    font-style: normal;
}

body {
    font-family: "Montserrat";
}

.container {
    max-width: 1143px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.logo {
    position: relative;
}

.logo-link {
    position: absolute;
    display: block;
    left: -300px;
    top: 40px;
}

.header {
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding-top: 30px;
}

.nav-list {
    display: flex;
    list-style-type: none;
    padding-left: 0px;
}

.nav-item {
    margin-right: 15px;
    margin-left: 15px;
}

.nav-item:first-child,
.nav-item:last-child {
    margin-right: 0px;
    margin-left: 0px;
}

.social img {
    margin-left: 30px;
}
